
<div>
    <Edit></Edit>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script src="~/Scripts/app/Index.js" type="text/javascript"></script>
    <script src="~/Scripts/app/service/defaultService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/service/authService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/cmp/edit.js" type="text/javascript"></script>
    <script src="~/Scripts/mainapp/cmp/core/Product/edit.js" type="text/javascript"></script>

}
