<div aria-label="breadcrumb" ng-show="config.enable_history">
    <ol class="breadcrumb card-body">
        <li ng-repeat="link in historyLinks"
            class="active breadcrumb-item" ng-click="defaultService.OpenLink(link.url,true)">
            <a href="#">{{link.text}} </a>
        </li>
    </ol>
    <hr />
</div>
<div class="row ">
    <div class="col-md-6">
        <h2 class="h3 mb-3">
            {{config.EntityName}}
        </h2>
    </div>
    <div class="col-md-6">
        <div class="float-right">
            <button ng-click="showAdvanced($event)" ng-show="config.onscreenAdd" class="btn btn-primary" >Add</button>
            <button ng-click="defaultService.OpenLink(config.addbutton.url)" ng-show="config.onPageAdd" class="btn btn-primary">Add</button>
            <button ng-click="defaultService.OpenLink(config.backbutton.url)" ng-show="config.backbutton.show" class="btn btn-primary">Back</button>
            <button ng-repeat="btn in config.btnList" ng-click="defaultService.OpenLink(btn.url)" class="btn btn-primary">{{btn.Text}}</button>
            <button ng-repeat="btn in config.btnActionList" ng-click="PerformAction(btn.action)" class="btn btn-primary">{{btn.Text}}</button>
       </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">List view : {{config.EntityName}}</h5>
    </div>
    <div class="card-body">
        <div ng-show="config.use_filter">
            <div class="row ">
                <div class="col-md-2">
                    <label>Filter</label>
                </div>
                <div class="col-md-2">
                    <select ng-model="FilterId" ng-change="GetFilter(FilterId)" class="form-control">
                        <option>None</option>
                        <option ng-repeat="o in FilterList" ng-value="o.Id">{{ o.Name }}</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <button ng-click="FilterAll()" class="btn btn-secondary  float-right">Filter</button>
                </div>
            </div>
            <br>
            <div class="row " id="FilterPanel">
                <div class="col-md-3" ng-repeat="f in config.filterFieldList"><div compile ng-bind-html="f.view"></div></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Records</label>
                        </div>
                        <div class="col-md-6">
                            <select ng-model="filter.PageSize" ng-change="ChangePageSize()" class="custom-select custom-select-sm form-control form-control-sm">
                                <option ng-repeat="o in PageSizeList" ng-value="o">{{ o }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-6 ">
                    <div class="float-right">
                        <nav aria-label="Page navigation ">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                                <li ng-repeat="n in range(Count, filter.PageSize)"
                                    class="{{ n+1 == filter.PageIndex ? 'active' :''}} page-item"
                                    ng-click="setPage()">
                                    <a class="page-link" ng-bind="n+1">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissible" ng-show="DefaultMessage.SuccessMessage!=''">{{DefaultMessage.SuccessMessage}}</div>
                <div class="alert alert-danger alert-dismissible" ng-show="DefaultMessage.ErrorMessage!=''">{{DefaultMessage.ErrorMessage}}</div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body" style="display:block;overflow-x: auto">
        <table class="table table-striped table-responsive table-bordered no-footer" id="MainTable" role="grid" style="display:table;">
            <thead style="width:auto;">
                <tr>
                    <th>Actions</th>
                    <th>
                        #
                    </th>
                    <th ng-if="config.activable" style="white-space: nowrap;">
                        Inactive
                    </th>
                    <th compile ng-bind-html="f.view" ng-repeat="f in config.thList" style="white-space: nowrap;"></th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in MainList" class="{{action_success[m.Id]}}" ng-mousedown="selectRow(m.Id)"
                    ng-style="{{styles[m.Id]}}" ng-right-click="ShowContextMenu($index)" ng-dblclick="ShowContextMenu($index)" context="context1"
                    row-index="{{$index}}">
                    <td>
                        <div class="btn-group float-left">
                            <button class="badge btn btn-sm btn-primary" ng-show="config.inlineEdit" ng-click="Edit(m)"> Update </button>
                            <button class="badge btn btn-sm btn-primary" ng-show="config.popupEdit" ng-click="openPopup(m)">Edit</button>
                            <button class="badge btn btn-sm btn-primary" ng-show="config.onscreenEdit" ng-click="showAdvanced($event,m)">Edit</button>
                            <!-- <button class="badge btn btn-sm btn-primary" ng-click="defaultService.OpenLink(setUrl(a.url,m))" ng-repeat="a in config.actionlist">{a.Text}}</button>-->

                        </div>

                    </td>
                    <td>
                        {{m.Id}}
                    </td>
                    <td ng-if="config.activable">
                        <input type="checkbox" class="form-check-input" ng-model="m.Inactive" ng-click="Activation(m)" />
                    </td>
                    <td compile ng-bind-html="f.view" ng-repeat="f in config.tdList"></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="context1" class="dropdown-menu" role='menu' ng-show="{{config.actionlist.length!=0}}">
    <a ng-repeat="a in config.actionlist" class="dropdown-item" ng-click="defaultService.OpenLink(setUrl(a.url,MainList[SelectedIndex]))">{{a.Text}}</a>
</div>
