<div>
    <list></list>
</div>
@section Scripts
{
    <script src="~/Scripts/app/Index.js" type="text/javascript"></script>
    <script src="~/Scripts/app/service/authService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/service/defaultService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/cmp/subcomponents/filter/filter.js" type="text/javascript"></script>
    <script src="~/Scripts/app/cmp/list.js" type="text/javascript"></script>
    <script src="~/Scripts/mainapp/cmp/Core/ProcessBooth/list.js" type="text/javascript"></script>
    }
