
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div>
    <login></login>
</div>

@section Scripts
{
    <script src="~/scripts/app/Index.js" type="text/javascript"></script>
    <script src="~/scripts/app/service/authService.js" type="text/javascript"></script>
    <script src="~/scripts/mainapp/cmp/account/login.js" type="text/javascript"></script>
    <script src="~/scripts/app/account/login.js" type="text/javascript"></script>
}
