@{
    Layout = "~/Views/Shared/_LayoutExternalDefault.cshtml";
}

<div>
<!--    <panel></panel>-->
</div>
@section Scripts
{
    <script type="text/javascript">
        var _anonymous_page = true;
        var page_url = '/scripts/mainapp/external/index.html';
    </script>
    <script src="~/Scripts/app/Index.js" type="text/javascript"></script>
    <script src="~/Scripts/app/service/defaultService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/service/authService.js" type="text/javascript"></script>
    <script src="~/Scripts/app/cmp/subcomponents/filter/filter.js" type="text/javascript"></script>
    <script src="~/Scripts/app/cmp/home/list.js" type="text/javascript"></script>

}
